@import url('http://fonts.cdnfonts.com/css/gotham');

body {
    background: #1a3e7a;
    color: #fff;
    font-family: "Gotham", sans-serif;
    letter-spacing: 2px;
}

.hero-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 50px;
    height: auto;
    width: 200px;
}

.company-name {
    text-align: center;
    padding: 30px;
}

.btn {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 100%;
}
a {
    text-decoration: none;
    color: #1a3e7a;
    transition: color 1s;
}

.left {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

a:hover {
    color: #fff;
    background: #1a3e7a;
}

.footer {
    position: fixed;
    bottom: 60px;
    text-align: center;
    width: 100%;
}

.footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 100px;
    width: 100%;
}

/* Small devices */
@media screen and (max-width: 464px) {
    .hero-logo {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .footer {
        bottom: 5%;
    }
    .btn {
        background-image: url(images/Ace-Linktree_mobile_UP.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: 5%;
        width: 276px;
        height: 45px;
    }
    .btn:hover, .btn:hover a {
        background-image: url(images/Ace-Linktree_mobile_HOVER.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

/* Medium devices */
@media screen and (min-width: 465px) and (max-width: 751px) {
    .btn {
        background-image: url(images/Ace-Linktree_tablet_UP.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 400px;
        height: 45px;
    }
    .btn:hover {
        background-image: url(images/Ace-Linktree_tablet_HOVER.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

/* Large devices */
@media screen and (min-width: 752px) {
    .btn {
        background-image: url(images/Ace-Linktree_Large-tablet_UP.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 650px;
        height: 45px;
    }
    .btn:hover {
        background-image: url(images/Ace-Linktree_large-tablet-HOVER.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}